.bg-pink {
  background-color: #e45e76; /* Light Pink */
}

.header {
  font-family: Arial, sans-serif;
}

.welcome-message {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links .nav-link {
  font-size: 1rem;
  color: #333;
}

.nav-links .btn {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
}

.nav-links .btn:hover {
  background-color: #ffcc00; /* Yellow hover effect */
}
